div{
    height:100px;
    width:100px;
    border:2px solid black;
    background-color: aqua;
    color:white;
    border-radius:50%;
    animation-name: colorAnimate;
    animation-duration:5s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    /* animation-delay: 12s; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position:fixed;
}
@keyframes colorAnimate {
    from{
        background-color: aqua;
        left:0px;
        font-size:20px;
    }
    to{
        background-color: red;
        left:93.5%;
        font-size:50px;
      
    }
}
/*animation-duration:the time take taken to complete the animation.
  animation-delay:before starting the animation for how much time it should wait*/